
<label for="origin-input" class="form-input_label">{{'origin' | dictionary}}</label>
<div class="input-group" (click)="clearInput()">
  <span class="prefix" *ngIf="dataFlight.code">{{dataFlight.code}}</span>
  <input type="text" id="origin-input"
    [(ngModel)]="dataFlight.name"
    (keyup)="filterStationsByKey(originInput.value)"
    #originInput
    name="origin"
    class="form-control js-searchbar-input"
    placeholder="{{'originPlaceholder' | dictionary}}" required>
</div>

<div class="popover popover--error" *ngIf="false">
  <div class="popover-content">Antes de continuar, debes seleccionar un origen.</div>
</div>

<div id="origin-sugestion-popup"
  class="searchbar-popup cities-sugestion-popup"
  [ngClass]="{'show':selectorService.viewPopup}" >

  <div app-places *ngIf="selectorService.hasRecentStations()"
      [showErase]="selectorService.showErase()"
      [label]="'recentSearchs'"
      [data]="selectorService.recentStations$"
      (selectedEvent)="selectStation($event)"
      (deleteEvent)="deleteRecentStationsCookie($event)">
  </div>

  <div app-places
      [showErase]="false"
      [label]="'allAirports'"
      [data]="selectorService.listStations$"
      (selectedEvent)="selectStation($event)">
  </div>
</div>
