<div id="footer">
    <div class="mega-menu">
       <div class="container">
          <div class="row">
             <div class="col-md-3 col-first">
                <ul class="list">
                   <li><a href="#">Contacto</a></li>
                   <li><a href="#">Sobre nosotros</a></li>
                   <li><a href="#">Aviso legal</a></li>
                   <li><a href="#">Ciudades</a></li>
                   <li><a href="#">Rutas</a></li>
                   <li><a href="#">Blog</a></li>
                </ul>
             </div>
             <div class="col-md-3 bordered">
                <label for="centralReservas">Teléfonos de contacto</label>
                <div class="selectwrap">
                   <select id="ES" selected="selected" class="input select">
                      <option value="DE"> Alemania</option>
                      <option value="AU"> Austria</option>
                      <option value="BE"> Bélgica</option>
                      <option value="ES"> España</option>
                      <option value="FR"> Francia</option>
                      <option value="NL"> Holanda</option>
                      <option value="IT"> Italia</option>
                      <option value="PT"> Portugal</option>
                      <option value="GB"> Reino Unido</option>
                      <option value="RU"> Rusia</option>
                      <option value="SW"> Suiza</option>
                      <option value="WW"> Resto del mundo</option>
                   </select>
                </div>
                <div id="ES" class="FooterContact_info">
                   <h3>Atención al cliente</h3>
                   <p class="info-tel"><a href="tel:902808005">902 808 005</a></p>
                   <small>0-24 h todos los días (Atención personalizada: 9-21h).</small>
                   <h3>Venta de billetes</h3>
                   <p class="info-tel"><a href="tel:902808005">807 300 720</a></p>
                   <small>0-24 h todos los días (Atención personalizada: 9-21h).</small>
                </div>
             </div>
             <div class="col-md-6 col-last">
                <form id="Subscribe" method="post" action="http://vueling.com/es/servicios-vueling/mas-servicios-vueling/newsletter-vuela">
                   <label for="Subscribe">
                   Todas nuestras ofertas y novedades, en tu correo.
                   </label>
                   <input type="text" id="Subscribe" name="ftSubscribe" placeholder="Tu email aquí..." class="input">
                   <button type="submit" class="mv_button size-xs">
                   !me apunto!
                   </button>
                </form>
                <div id="app" class="alert">
                   <div class="row">
                      <div class="col-md-6">
                         Tu móvil lo sabe todo sobre tu vuelo,
                         <br/><strong>¡descárgate nuestra app!</strong>
                      </div>
                      <div class="col-md-6">
                         <a href="">
                         <img src="../images/app/appstore-es.png">
                         </a>
                         <a href="">
                         <img src="../images/app/googleplay-es.png">
                         </a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <nav id="menuFooter" class="navbar navbar-footer">
       <div class="container text-center">
          2017 Vueling Airlines SA |
          <a href="">
          Mapa web
          </a>
          <span class="icons-social">
          <a href="">
          <span class="icon icon-facebook"></span>
          </a>
          <a href="">
          <span class="icon icon-twitter"></span>
          </a>
          <a href="">
          <span class="icon icon-instagram"></span>
          </a>
          <a href="">
          <span class="icon icon-youtube"></span>
          </a>
          </span>
       </div>
    </nav>
 </div>