<nav id="menuTop" class="navbar navbar-top">
  <div class="container">
     <div class="navbar-nav pull-right">
        <ul class="nav">
           <li class="dropdown dropdown-site">
              <a href="#">Particulares <span class="icon icon-arrow-down"></span></a>
              <ul class="dropdown-content">
                 <li><a href="#">Agencias</a></li>
                 <li><a href="#">Grupos</a></li>
                 <li><a href="#">Empresas</a></li>
              </ul>
           </li>
           <li class="sep">|</li>
           <li class="dropdown dropdown-lang">
              <a href="#">Español <span class="icon icon-arrow-down"></span></a>
              <ul class="dropdown-content col col3">
                 <li><a href="#">Català</a></li>
                 <li><a href="#">English</a></li>
                 <li><a href="#">Euskara</a></li>
                 <li><a href="#">Français</a></li>
                 <li><a href="#">Galego</a></li>
                 <li><a href="#">Italiano</a></li>
              </ul>
           </li>
           <li class="sep">|</li>
           <li class="dropdown dropdown-courence last">
              <a href="#">Danish krone (DKK) <span class="icon icon-arrow-down"></span></a>
              <ul class="dropdown-content col">
                 <li><a href="#">Euro (EUR)</a></li>
                 <li><a href="#">Franco Suizo (CHF)</a></li>
                 <li><a href="#">Corona Noruega (NOK)</a></li>
                 <li><a href="#">Corona Sueca (SEK)</a></li>
                 <li><a href="#">Libra Esterlina (GBP)</a></li>
                 <li><a href="#">Dólar (USD)</a></li>
              </ul>
           </li>
        </ul>
     </div>
  </div>
</nav>
<nav id="menuMain" class="navbar navbar-main">
  <div class="nav tabNav" role="tablist">
     <div class="container">
        <div id="navLogo" class="navbar-header">
           <a class="navbar-brand" href="?p=home" >
           <span class="icon icon-vueling"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
           </a>
        </div>
        <div id="navMenu" class="navbar-nav">
           <ul class="nav">
              <li class="tabLink">
                 <a href="#menuViajar" >VIAJAR <span class="icon icon-arrow-down"></span></a>
              </li>
              <li class="tabLink">
                 <a href="#menuVolar">INFO PARA VOLAR <span class="icon icon-arrow-down"></span></a>
              </li>
           </ul>
        </div>
        <div id="navSearch" class="navbar-search">
           <input type="text" class="input" placeholder="¿Tienes alguna duda?">
           <input type="submit" class="icon" value="&#xe91b;">
        </div>
        <div id="navLogin" class="navbar-login">
           <span class="tabLink">
           <a href="#menuClub">
           <span class="icon icon-my-vueling"></span>
           </a>
           </span>
           <div class="pull-left">
              <span class="icon icon-vueling-club"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
              <p>
                 <span class="tabLink">
                 <a href="#menuLogin">Accede</a>
                 </span>
                 |
                 <span class="tabLink">
                 <a href="#menuRegister">Regístrate</a>
                 </span>
              </p>
           </div>
        </div>
     </div>
  </div>
  <div id="menuViajar" class="mega-menu">
     <div class="container">
        <div class="row">
           <div class="col col-md-2">
              <h2><span class="icon icon-plane"></span> RESERVA TU VUELO</h2>
              <ul>
                 <li><a href="#">Calendario de precios</a></li>
                 <li><a href="#">Mapa de destinos</a></li>
                 <li><a href="#">Horarios</a></li>
              </ul>
           </div>
           <div class="col col-md-2">
              <h2><span class="icon icon-building"></span> COMPLETA TU VIAJE</h2>
              <ul>
                 <li><a href="#">Hoteles</a></li>
                 <li><a href="#">Coches</a></li>
                 <li><a href="#">Hotel Vueling by HC</a></li>
              </ul>
           </div>
           <div class="col col-md-2">
              <h2><span class="icon icon-check-ok-rounded"><span class="path1"></span><span class="path2"></span></span> TU RESERVA</h2>
              <ul>
                 <li><a href="#">Gestiona tu reserva</a></li>
                 <li><a href="#">Reenvío del email confirmación</a></li>
                 <li><a href="#">Otros servicios</a></li>
              </ul>
           </div>
           <div class="col col-md-6 col-last">
              <h3>Escoge tu destino, reserva tu vuelo y completa tu viaje reservando tus noches de hotel o un coche de alquiler.</h3>
              <ul class="icon-line icon-lg">
                 <li class="icon icon-location"></li>
                 <li class="line"></li>
                 <li class="icon icon-plane"></li>
                 <li class="line"></li>
                 <li class="icon icon-hotel-plus-car"></li>
              </ul>
           </div>
        </div>
     </div>
  </div>
  <div id="menuVolar" class="mega-menu">
     <div class="container">
        <div class="row">
           <div class="col col-md-2">
              <h2><span class="icon icon-baggage"></span> PREPARA TU VIAJE</h2>
              <ul>
                 <li><a href="#">Información de check-in</a></li>
                 <li><a href="#">Equipaje</a></li>
                 <li class="more"><a href="#">Ver más</a></li>
              </ul>
           </div>
           <div class="col col-md-2">
              <h2><span class="icon icon-passenger"></span> PASAJEROS</h2>
              <ul>
                 <li><a href="#">Documentación</a></li>
                 <li><a href="#">Volar con niños y bebés</a></li>
                 <li class="more"><a href="#">Ver más</a></li>
              </ul>
           </div>
           <div class="col col-md-2">
              <h2><span class="icon icon-airport"></span> VUELOS Y AEROPUERTOS</h2>
              <ul>
                 <li><a href="#">Aeropuertos</a></li>
                 <li><a href="#">Incidencias de equipaje</a></li>
                 <li class="more"><a href="#">Ver más</a></li>
              </ul>
           </div>
           <div class="col col-md-6 col-last">
              <h3>Consulta aquí toda la información sobre las salidas y llegadas de nuestros vuelos en tiempo real.</h3>
              <a href="#">
              <span class="icon icon-xl icon-flight-status"><span class="path1"></span><span class="path2"></span></span>
              <small>
              ESTADO DE VUELOS
              <span class="icon icon-arrow-right"></span>
              </small>
              </a>
           </div>
        </div>
     </div>
  </div>
  <div id="menuClub" class="mega-menu">
     <div class="container">
        menu club
     </div>
  </div>
  <div id="menuLogin" class="mega-menu">
     <div class="container">
        menu login
     </div>
  </div>
  <div id="menuRegister" class="mega-menu">
     <div class="container">
        menu register
     </div>
  </div>
</nav>
