<nav id="menuTop" class="navbar navbar-top">
    <div class="container">
       <div class="navbar-nav pull-right">
          <ul class="nav">
             <li class="dropdown dropdown-site">
                <a href="#">Particulares <span class="icon icon-arrow-down"></span></a>
                <ul class="dropdown-content">
                   <li><a href="#">Agencias</a></li>
                   <li><a href="#">Grupos</a></li>
                   <li><a href="#">Empresas</a></li>
                </ul>
             </li>
             <li class="sep">|</li>
             <li class="dropdown dropdown-lang">
                <a href="#">Español <span class="icon icon-arrow-down"></span></a>
                <ul class="dropdown-content col col3">
                   <li><a href="#">Català</a></li>
                   <li><a href="#">English</a></li>
                   <li><a href="#">Euskara</a></li>
                   <li><a href="#">Français</a></li>
                   <li><a href="#">Galego</a></li>
                   <li><a href="#">Italiano</a></li>
                </ul>
             </li>
             <li class="sep">|</li>
             <li class="dropdown dropdown-courence last">
                <a href="#">Danish krone (DKK) <span class="icon icon-arrow-down"></span></a>
                <ul class="dropdown-content col">
                   <li><a href="#">Euro (EUR)</a></li>
                   <li><a href="#">Franco Suizo (CHF)</a></li>
                   <li><a href="#">Corona Noruega (NOK)</a></li>
                   <li><a href="#">Corona Sueca (SEK)</a></li>
                   <li><a href="#">Libra Esterlina (GBP)</a></li>
                   <li><a href="#">Dólar (USD)</a></li>
                </ul>
             </li>
          </ul>
       </div>
    </div>
 </nav>
 <nav id="menuMain" class="navbar navbar-main">
    <div class="nav">
       <div class="container">
          <div id="navLogo" class="navbar-header">
             <a class="navbar-brand" href="?p=home">
             <span class="icon icon-vueling"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span class="path8"></span></span>
             </a>
          </div>
          <div id="navMenu" class="navbar-nav">
             <ul class="nav">
                <li class="tabLink">
                   <a href="#menuViajar">VIAJAR <span class="icon icon-arrow-down"></span></a>
                </li>
                <li class="tabLink">
                   <a href="#menuVolar">INFO PARA VOLAR <span class="icon icon-arrow-down"></span></a>
                </li>
             </ul>
          </div>
          <div id="navSearch" class="navbar-search">
             <input type="text" class="input inverse" placeholder="¿Tienes alguna duda?">
             <input type="submit" class="icon" value="&#xe91b;">
          </div>
          <div id="navLogin" class="navbar-login">
             <span class="tabLink">
             <a href="#menuClub" tab="login">
             <span class="icon icon-my-vueling log-in"></span>
             </a>
             </span>
             <div class="pull-left">
                <span class="tabLink">
                <a href="#menuClub" tab="login">
                <span class="icon icon-vueling-club log-in"><span class="path1"></span><span class="path2"></span>
                <span
                   class="path3"></span>
                </span>
                </a>
                </span>
                <p>
                   <span class="tabLink">
                   <a href="#menuClub">
                   Hola <strong>Sandra</strong>
                   <span class="icon icon-arrow-down icon-xs"></span>
                   </a>
                   </span>
                </p>
             </div>
          </div>
       </div>
    </div>
    <div id="menuViajar" class="mega-menu">
       <div class="container">
          <div class="row">
             <div class="col col-md-2">
                <h2><span class="icon icon-plane"></span> RESERVA TU VUELO</h2>
                <ul class="list">
                   <li><a href="#">Calendario de precios</a></li>
                   <li><a href="#">Mapa de destinos</a></li>
                   <li><a href="#">Horarios</a></li>
                </ul>
             </div>
             <div class="col col-md-2">
                <h2><span class="icon icon-building"></span> COMPLETA TU VIAJE</h2>
                <ul class="list">
                   <li><a href="#">Hoteles</a></li>
                   <li><a href="#">Coches</a></li>
                   <li><a href="#">Hotel Vueling by HC</a></li>
                </ul>
             </div>
             <div class="col col-md-2">
                <h2><span class="icon icon-check-ok-rounded"><span class="path1"></span><span class="path2"></span></span> TU RESERVA</h2>
                <ul class="list">
                   <li><a href="#">Gestiona tu reserva</a></li>
                   <li><a href="#">Reenvío del email confirmación</a></li>
                   <li><a href="#">Otros servicios</a></li>
                </ul>
             </div>
             <div class="col col-md-6 col-last">
                <h3>Escoge tu destino, reserva tu vuelo y completa tu viaje reservando tus noches de hotel o un coche de alquiler.</h3>
                <ul class="icon-line icon-lg">
                   <li class="icon icon-location"></li>
                   <li class="line"></li>
                   <li class="icon icon-plane"></li>
                   <li class="line"></li>
                   <li class="icon icon-hotel-plus-car"></li>
                </ul>
             </div>
          </div>
       </div>
    </div>
    <div id="menuVolar" class="mega-menu">
       <div class="container">
          <div class="row">
             <div class="col col-md-2">
                <h2><span class="icon icon-baggage"></span> PREPARA TU VIAJE</h2>
                <ul class="list">
                   <li><a href="#">Información de checkin</a></li>
                   <li><a href="#">Equipaje</a></li>
                   <li class="more"><a href="#">Ver más</a></li>
                </ul>
             </div>
             <div class="col col-md-2">
                <h2><span class="icon icon-passenger"></span> PASAJEROS</h2>
                <ul class="list">
                   <li><a href="#">Documentación</a></li>
                   <li><a href="#">Volar con niños y bebés</a></li>
                   <li class="more"><a href="#">Ver más</a></li>
                </ul>
             </div>
             <div class="col col-md-2">
                <h2><span class="icon icon-airport"></span> VUELOS Y AEROPUERTOS</h2>
                <ul class="list">
                   <li><a href="#">Aeropuertos</a></li>
                   <li><a href="#">Incidencias de equipaje</a></li>
                   <li class="more"><a href="#">Ver más</a></li>
                </ul>
             </div>
             <div class="col col-md-6 col-last">
                <h3>Consulta aquí toda la información sobre las salidas y llegadas de nuestros vuelos en tiempo real.</h3>
                <a href="#" class="text-icon">
                <span class="icon icon-first icon-flight-status"><span class="path1"></span><span class="path2"></span></span>
                <span>ESTADO DE VUELOS</span>
                <span class="icon icon-last icon-arrow-right"></span>
                </a>
             </div>
          </div>
       </div>
    </div>
    <div id="menuClub" class="mega-menu">
       <div class="container">
          <div class="row">
             <div class="col col-md-3 col-first">
                <h2><span class="icon icon-info"></span> SOBRE VUELING CLUB</h2>
                <ul class="list">
                   <li><a href="#">Vueling Club</a></li>
                   <li><a href="#">Patners</a></li>
                   <li><a href="#">Premium</a></li>
                </ul>
             </div>
             <div class="col col-md-4">
                <h4>Con <strong>Vueling Club</strong>, volar tiene recompensa:</h4>
                <ul class="list list-check">
                   <li>Acumula Avios con nosotros y con aerolíneas y compañías asociadas</li>
                   <li>Utilízalos para obtener descuentos e incluso vuelos gratis, ¡cuantos más Avios, mayores descuentos!</li>
                </ul>
             </div>
             <div class="col col-md-5">
                <div class="alert margin0">
                   <div class="alert-header">
                      <span class="icon icon-inverse icon-vueling-club"><span class="path1"></span><span class="path2"></span>
                      <span
                         class="path3"></span>
                      </span>
                      <span class="pull-right">Tienes <a href="#"><strong>XXXX Avios</strong></a></span>
                   </div>
                   <ul class="list list-menu">
                      <li><a href="?user=in">Tu cuenta</a></li>
                      <li><a href="?user=in">Datos personales</a></li>
                      <li><a href="?user=in">Tus reservas</a></li>
                   </ul>
                   <ul class="list list-small pull-right">
                      <li class="turn-off"><a href="?v=new&p=home">Cerrar sessión</a></li>
                   </ul>
                </div>
             </div>
          </div>
       </div>
    </div>
 </nav>