<div id="form-group--destination" [ngClass]="{'focused':_stationsSelectorService.destinationPopup}">
    <label for="destination-input">Destino</label>
    <div class="input-group" (click)="clearInputDestination(destinationInput)">
      <span class="prefix" *ngIf="dataFlight.destination.code">{{dataFlight.destination.code}}</span>
      <input type="text" id="destination-input" [(ngModel)]="dataFlight.destination.name"
        (keyup)="_stationsSelectorService.filterDestinations(destinationInput.value);"
        name="destination"
        #destinationInput
        class="form-control js-searchbar-input"
        placeholder="Ciudad, país o aeropuerto"
        required>
    </div>
  
    <div class="popover popover--error" *ngIf="false">
      <div class="popover-content">Before continiung, you must select your destination</div>
    </div>
  
    <div id="destination-sugestion-popup" class="searchbar-popup cities-sugestion-popup" [ngClass]="{'show':_stationsSelectorService.destinationPopup}">
      <p class="cities-sugestion-popup_title" *ngIf="_stationsSelectorService.filterDestinationsByRecent(true).length > 0">
        Búsquedas recientes
        <span class="erase-label" (click)="_stationsSelectorService.deleteDestinations()">Borrar</span>
      </p>
      <ul class="cities-sugestion-popup_list">
        <li *ngFor="let destination of _stationsSelectorService.filterDestinationsByRecent(true)" (click)="destinationSelected(destination)"
          [ngClass]="{'connection-flight':destination?.connection}">
          <p class="list-item">{{destination?.name}}</p>
          <p class="list-item">{{destination?.countryName}}</p>
          <p class="list-item">{{destination?.code}}</p>
          <p class="list-item"><span class="icon icon-clock">
                <span class="path1"></span>
            <span class="path2"></span>
            </span>
          </p>
        </li>
      </ul>
  
      <p class="cities-sugestion-popup_title">Todos los aeropuertos</p>
      <ul class="cities-sugestion-popup_list">
        <li *ngFor="let destination of _stationsSelectorService.filterDestinationsByRecent(false)" (click)="destinationSelected(destination)"
          [ngClass]="{'connection-flight':destination?.connection}">
          <p class="list-item">{{destination?.name}}</p>
          <p class="list-item">{{destination?.countryName}}</p>
          <p class="list-item">{{destination?.code}}</p>
        </li>
      </ul>
      <div class="cities-sugestion-popup_legend">
        <ul>
          <li>Vuelos directos</li>
          <li class="connection-flight">Vuelos en conexión</li>
        </ul>
        <div class="cities-sugestion-popup_legend_actions">
          <div class="link">
            <span class="icon icon-arrow-right"></span>
            <a href="">Mapa de destinos</a>
          </div>
          <div class="form-checkbox--button color-darkGrey">
            <label>
                  <input type="checkbox" hidden>
                  <span>Múltiples destinos</span>
                </label>
          </div>
        </div>
      </div>
    </div>
  </div>