<div app-origin-selector
  id="form-group--origin"
  class="form-input origin"
  #originMulti
  [dataFlight]="dataFlight.multi.origin"
  [ngClass]="{'focused':isFocusedOrigin}"
  (isFocused)="isFocusedOrigin=$event"
  (selectedOrigin)="destinationMulti.loadDestinations()">
</div>

<div app-destination-selector
  id="form-group--destination"
  class="form-input destination"
  #destinationMulti
  [ngClass]="{'focused':isFocusedDestination}"
  [dataFlight]="dataFlight.multi"
  (isFocused)="isFocusedDestination=$event"
  (clickDestination)="originMulti.showPopupOrigin($event)"
  (clickMulticity)="clickMulticity()"
  (outStation)="getFlightDisabledDays()">
</div>

<div id="form-group--dates" class="form-input dates" [ngClass]="{'focused':isFocusedCalendar}">
  <div app-date-picker #dateMulti
    class="col col-md-6"
    (click)="toggleDatePickerMulti()"
    [inputId]="'inputMulti'"
    [currentDate]="dataFlight.multi.going"
    [label]="'Ida2'"
    [format]="'dd/MM/yy'"
    [flightDisabledDays]="flightDisabledDays$ | async"
    (selectedDate)="selectedMultiDate($event)">
  </div>
</div>

<div class="aditional-flight" (click)="clickMulticity()">
  <span class="icon icon-delete-flight"></span>
  <a>Eiminar vuelo 2</a>
</div>
