<div class="alert alert--icon error tab-pane_alert" *ngIf="submit == false">
  <div class="alert_wrap">
    <span class="icon icon-exclamation-mark"><span class="path1"></span><span class="path2"></span></span>
    <p class="alert_wrap_title">No se ha encontrado la reserva. Por favor, verifica los datos y vuelve a intentarlo.</p>
    <div class="alert_wrap_message">
      <div class="row">
        <div class="col-md-2">
          <p><b>Teléfono de Atención al cliente.</b></p>
        </div>
        <div class="col-md-3">
          <div class="selectwrap">
            <select id="ES" selected="selected" class="input select">
              <option value="DE"> Alemania</option>
              <option value="AU"> Austria</option>
              <option value="BE"> Bélgica</option>
              <option value="ES"> España</option>
              <option value="FR"> Francia</option>
              <option value="NL"> Holanda</option>
              <option value="IT"> Italia</option>
              <option value="PT"> Portugal</option>
              <option value="GB"> Reino Unido</option>
              <option value="RU"> Rusia</option>
              <option value="SW"> Suiza</option>
              <option value="WW"> Resto del mundo</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <p>902808005</p>
        </div>
        <div class="col-md-4">
          <p>0-24 h todos los días (Atención personalizada 9 -21 h).</p>
        </div>
      </div>
    </div>
  </div>
</div>
