<li (click)="toggleDiscountList(discountListPassengers.residentIslaCeuta)">
  <p class="discount-item js-discount">{{discountListPassengers.residentIslaCeuta.data}} ({{discountListPassengers.residentIslaCeuta.discount}}%)</p>
</li>
<li (click)="toggleDiscountList(discountListPassengers.famNumGeneral)">
  <p class="discount-item js-discount">{{discountListPassengers.famNumGeneral.data}} ({{discountListPassengers.famNumGeneral.discount}}%)</p>
</li>
<li (click)="toggleDiscountList(discountListPassengers.famNumEspecial)">
  <p class="discount-item js-discount">{{discountListPassengers.famNumEspecial.data}} ({{discountListPassengers.famNumEspecial.discount}}%))</p>
</li>
<li (click)="toggleDiscountList(discountListPassengers.famNumGeneralResident)">
  <p class="discount-item js-discount">{{discountListPassengers.famNumGeneralResident.data}} ({{discountListPassengers.famNumGeneralResident.discount}}%)</p>
</li>
<li (click)="toggleDiscountList(discountListPassengers.famNumEspecialResident)">
  <p class="discount-item js-discount">{{discountListPassengers.famNumEspecialResident.data}} ({{discountListPassengers.famNumEspecialResident.discount}}%)</p>
</li>
