<li (click)="toggleDiscountList('residentIslaCeuta')" *ngIf="isResident">
    <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == 'residentIslaCeuta'}">{{'residentIslaCeuta' | dictionary}}</p>
  </li>
  <li (click)="toggleDiscountList('famNumGeneral')"  *ngIf="!isResident || isLargeFamily">
    <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == 'famNumGeneral'}">{{'famNumGeneral' | dictionary}}</p>
  </li>
  <li (click)="toggleDiscountList('famNumEspecial')" *ngIf="!isResident || isLargeFamily">
    <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == 'famNumEspecial'}">{{'famNumEspecial' | dictionary}}</p>
  </li>
  <li (click)="toggleDiscountList('famNumGeneralResident')" *ngIf="isResident && isLargeFamily">
    <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == 'famNumGeneralResident'}">{{'famNumGeneralResident' | dictionary}}</p>
  </li>
  <li (click)="toggleDiscountList('famNumEspecialResident')" *ngIf="isResident && isLargeFamily">
    <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == 'famNumEspecialResident'}">{{'famNumEspecialResident' | dictionary}}</p>
  </li>
  <li (click)="toggleDiscountList('noDiscount')">
      <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == 'noDiscount'}">{{'noDiscount' | dictionary}}</p>
  </li>
