<li (click)="toggleDiscountList(discountListPassengers.residentIslaCeuta)" *ngIf="isResident">
  <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == discountListPassengers.residentIslaCeuta}">{{discountListPassengers.residentIslaCeuta.data}} {{discountListPassengers.residentIslaCeuta.discount | discountPassenger}}</p>
</li>
<li (click)="toggleDiscountList(discountListPassengers.famNumGeneral)"  *ngIf="!isResident || isLargeFamily">
  <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == discountListPassengers.famNumGeneral}">{{discountListPassengers.famNumGeneral.data}} {{discountListPassengers.famNumGeneral.discount | discountPassenger}}</p>
</li>
<li (click)="toggleDiscountList(discountListPassengers.famNumEspecial)" *ngIf="!isResident || isLargeFamily">
  <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == discountListPassengers.famNumEspecial}">{{discountListPassengers.famNumEspecial.data}} {{discountListPassengers.famNumEspecial.discount | discountPassenger}}</p>
</li>
<li (click)="toggleDiscountList(discountListPassengers.famNumGeneralResident)" *ngIf="isResident && isLargeFamily">
  <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == discountListPassengers.famNumGeneralResident}">{{discountListPassengers.famNumGeneralResident.data}} {{discountListPassengers.famNumGeneralResident.discount | discountPassenger}}</p>
</li>
<li (click)="toggleDiscountList(discountListPassengers.famNumEspecialResident)" *ngIf="isResident && isLargeFamily">
  <p class="discount-item" [ngClass]="{'selected': discountActiveSelected == discountListPassengers.famNumEspecialResident}">{{discountListPassengers.famNumEspecialResident.data}} {{discountListPassengers.famNumEspecialResident.discount | discountPassenger}}</p>
</li>
