@import "../../assets/variables";

/****************************************************

VARIABLES POPOVERS

****************************************************/
/****************************************************
VARIABLES

+ colors
+ Font-size

****************************************************/

/** Colors *****************************************/
$error-color                : $validation-error-color;
$text-error-color           : $white;

/** Font-size *****************************************/
$fs-popover-content         : $font-size-default;
