$icomoon-font-path: "../fonts" !default;

$icon-facebook: "\e92e";
$icon-instagram: "\e92f";
$icon-twitter: "\e930";
$icon-youtube: "\e931";
$icon-vueling-club-path1: "\e92b";
$icon-vueling-club-path2: "\e92c";
$icon-vueling-club-path3: "\e92d";
$icon-my-vueling: "\e91a";
$icon-calendar-path1: "\e927";
$icon-calendar-path2: "\e928";
$icon-calendar-path3: "\e929";
$icon-arrow-list: "\e910";
$icon-hotel-plus-car: "\e911";
$icon-passenger: "\e912";
$icon-baggage: "\e913";
$icon-building: "\e915";
$icon-car: "\e916";
$icon-clock-path1: "\e917";
$icon-clock-path2: "\e92a";
$icon-computer: "\e918";
$icon-location: "\e919";
$icon-search: "\e91b";
$icon-settings: "\e91c";
$icon-turn-off: "\e91d";
$icon-vueling-path1: "\e91e";
$icon-vueling-path2: "\e91f";
$icon-vueling-path3: "\e920";
$icon-vueling-path4: "\e921";
$icon-vueling-path5: "\e922";
$icon-vueling-path6: "\e923";
$icon-vueling-path7: "\e924";
$icon-vueling-path8: "\e925";
$icon-airport: "\e900";
$icon-flight-status-path1: "\e901";
$icon-flight-status-path2: "\e902";
$icon-plane: "\e903";
$icon-plane-right: "\e904";
$icon-check-ok-rounded-path1: "\e905";
$icon-check-ok-rounded-path2: "\e907";
$icon-check-ok-success: "\e908";
$icon-delete-flight: "\e909";
$icon-exclamation-mark-path1: "\e90a";
$icon-exclamation-mark-path2: "\e90b";
$icon-info: "\e90c";
$icon-rounded-less: "\e90e";
$icon-rounded-more: "\e90f";
$icon-secondary-arrow-right: "\e926";
$icon-arrow-down: "\e906";
$icon-arrow-right: "\e914";
