<div app-check-in-error *ngIf="submit==false"> </div>

<p class="tab-pane_lead-in">Obtén tus tarjetas de embarque para subir al avión: podrás imprimirlas o descargarlas en tu móvil.</p>
<h3 class="tab-pane_title">
   <span class="icon-computer"></span> Check-in online
</h3>

<div class="tab-pane_options-container">
   <div class="form-checkbox--button" (click)="changeTypeCheckIn(false)">
      <label>
      <input type="checkbox" checked hidden>
      <span>Email del comprador</span>
      </label>
   </div>
   <div class="form-checkbox--button" (click)="changeTypeCheckIn(true)">
      <label>
      <input type="checkbox" hidden>
      <span>Origen/Destino</span>
      </label>
   </div>
</div>

<div *ngIf="isOrigin == false" class="form">
   <div class="form-group form-group--check-in">
      <div class="form-input">
         <label>Código de reserva</label>
         <a href="#">¿Qué es?</a>
         <div class="input-group">            
            <input type="text" id="origin-input" class="form-control js-searchbar-input" [ngModel]="codeBook" placeholder="Ej. XG6LM3" required>                     
        </div>
      </div>
    <div class="form-input">
         <label>Email del comprador </label>         
            <input type="text" id="destination-input" name="email" class="form-control js-searchbar-input" 
            required minlength="4" ngModel #email="ngModel"
            placeholder="email@vueling.com"> 
            <div class="popover popover--error" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div class="popover-content" *ngIf="email.errors.required">El campo es requerido.</div>
              <div class="popover-content" *ngIf="email.errors.minlength">Debe tener 4 caracteres minimo.</div>               
            </div>                                   
    </div>
        <div class="form-action">
          <a href="#" (click)="onSubmit()" class="mv_button color-darkGrey size-md icon icon-right">Acceder</a>
        </div>
   </div>
</div>

<div *ngIf="isOrigin == true" class="form">
    <div class="form-group form-group--destinations">
        <div class="form-input reservation-code">
          <label>Código de reserva</label>
          <a href="#">¿Qué es?</a>
          <div class="input-group">
            <input type="text" id="origin-input" class="form-control js-searchbar-input" [ngModel]="codeBook" placeholder="Ej. XG6LM3" required>
          </div>
        </div>
        <div class="form-input">
          <label>Aeropuerto origen/destino</label>
          <div class="input-group">
            <input type="text" id="destination-input" (click)="showStation()" class="form-control js-searchbar-input"
             placeholder="Ciudad" [(ngModel)]="station" required>
             
          </div>
          <div id="origin-sugestion-popup" class="searchbar-popup cities-sugestion-popup" 
          [ngClass]="{'show': isShowStation}" (click)="showStation(station)">
            <div app-places
                [label]="'allAirports'"
                [data]="selectorService.listStations$"
                (selectedEvent)="stationSelected($event)">
            </div>
          </div>
        </div>

        <div class="form-input dates">
          <div class="col col-md-6">
            <label>Fecha del primer vuelo</label>
            <div class="input-group">
              <input type="text" class="form-control js-searchbar-input js-searchbar-date-input hasDatepicker" placeholder="DD/MM/YY" readonly="readonly">
              <span class="icon icon-calendar"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
            </div>
          </div>
          <div class="col col-md-6">
            <div class="form-checkbox--button">
             <label>
               <input class="js-multiple-destinations" type="checkbox" hidden="">
               <span>Mi vuelo es mañana</span>
             </label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-action">
        <a href="#" (click)="onSubmit()" class="mv_button color-darkGrey size-md icon icon-right">Acceder</a>
      </div>
</div>
  

