<div app-date-picker
  #dateGoing
  class="col col-md-6"
  (click)="toggleDatePickerGoing()"
  [inputId]="'inputGoing'"
  [date]="dataFlight.going"
  [label]="getGoingLabel()"
  [flightDisabledDays]="flightGoingDisabledDays$ | async"
  (selectedDate)="selectedGoingDate($event)">
</div>

<div class="col col-md-6" *ngIf="!isMulti">
  <a 
    (click)="addComeBack()"
    [ngClass]="{'activate': calendarService.isOneWay$ | async}">
    Añadir vuelta
  </a>

  <div app-date-picker *ngIf="calendarService.isRoundTrip$ | async"
    #dateReturn
    class="date-range-to"
    (click)="toggleDatePickerComeBack()"
    [ngClass]="{'activate': calendarService.isRoundTrip$ | async}"
    [inputId]="'inputComeBack'"
    [date]="dataFlight.return"
    [label]="'Vuelta'"
    [flightDisabledDays]="flightReturnDisabledDays$ | async"
    [dateGoing]="dataFlight.going"
    (selectedDate)="selectedReturnDate($event)">
  </div>
</div>
