<div app-date-picker
  #dateGoing
  class="col col-md-6"
  (click)="toggleDatePickerGoing()"
  [inputId]="'inputGoing'"
  [currentDate]="dataFlight.going"
  [label]="getGoingLabel()"
  [format]="'dd/MM/yy'"
  [flightDisabledDays]="flightGoingDisabledDays$ | async"
  (selectedDate)="selectedGoingDate($event)">
</div>

<div class="col col-md-6" *ngIf="!isMulti">
  <a 
    (click)="addComeBack()"
    [ngClass]="{'activate': calendarService.isOneWay$ | async}">
    Añadir vuelta
  </a>

  <div app-date-picker *ngIf="calendarService.isRoundTrip$ | async"
    #dateReturn
    class="date-range-to"
    (click)="toggleDatePickerComeBack()"
    [ngClass]="{'activate': calendarService.isRoundTrip$ | async}"
    [inputId]="'inputComeBack'"
    [currentDate]="dataFlight.return"
    [minDate]="dataFlight.going"
    [label]="'Vuelta'"
    [format]="'dd/MM/yy'"
    [flightDisabledDays]="flightReturnDisabledDays$ | async"
    (selectedDate)="selectedReturnDate($event)">
  </div>
</div>
