<div app-date-picker
  class="col col-md-6"
  (click)="toggleDatePickerGoing()"
  [inputId]="'inputGoing'"
  [date]="dataFlight.going"
  [label]="'Ida'"
  [fligthDisabledDays]="flightGoingDisabledDays$ | async"
  (selectedDate)="selectedGoingDate()">
</div>

<div class="col col-md-6" *ngIf="!isMulti">
  <a class="js-add-date-range-to"
    (click)="addComeBack()"
    [ngClass]="{'activate': calendarService.isOneWay$ | async}">
    Añadir vuelta
  </a>

  <div app-date-picker class="date-range-to js-date-range-to"
    (click)="toggleDatePickerComeBack()"
    [ngClass]="{'activate': calendarService.isRoundTrip$ | async}"
    [inputId]="'inputComeBack'"
    [date]="dataFlight.return"
    [label]="'Vuelta'"
    [fligthDisabledDays]="flightReturnDisabledDays$ | async"
    [dateGoing]="dataFlight.going"
    (selectedDate)="selectedReturnDate()">
  </div>
</div>
