<h3 class="tab-pane_title">
    <span class="icon icon-settings"></span>
    Tu reserva
</h3>
<div class="tab-pane_options-container">
    <div class="form-checkbox--button">
        <label>
        <input type="checkbox" checked hidden>
        <span>Email del comprador</span>
        </label>
    </div>
    <div class="form-checkbox--button">
        <label>
        <input type="checkbox" hidden>
        <span>Origen/Destino</span>
        </label>
    </div>
</div>
<div class="form">
    <div class="form-group form-group--check-in">
        <div class="form-input">
            <label>Código de reserva</label>
            <a href="#">¿Qué es?</a>
            <div class="input-group">
            <input type="text" id="origin-input" class="form-control js-searchbar-input" placeholder="Ej. XG6LM3">
            </div>
        </div>
        <div class="form-input">
            <label>Email del comprador </label>
            <div class="input-group">
            <input type="text" id="destination-input" class="form-control js-searchbar-input" placeholder="email@vueling.com">
            </div>
        </div>
    </div>
    <div class="form-action">
        <a href="#" onclick="return false;" class="mv_button color-darkGrey size-md icon icon-right">Acceder</a>
    </div>
</div>