<div app-check-in-error class="alert alert--icon error tab-pane_alert" *ngIf="validation"></div>

<div class="tab-pane_options-container">
   <div class="form-checkbox--button" (click)="showEmail()">
      <label>
        <input type="radio" name="typeReservation" checked hidden>
        <span>Email del comprador</span>
      </label>
   </div>
   <div class="form-checkbox--button" (click)="showOriginDestination()">
      <label>
        <input type="radio" name="typeReservation" hidden>
        <span>Origen/Destino</span>
      </label>
   </div>
</div>

<form class="form" (ngSubmit)="onSubmit(forma)" #forma="ngForm" novalidate="">
  <div class="form-group" [ngClass]="{'form-group--destinations': isOriginDestination, 'form-group--email': !isOriginDestination}">
    <div class="form-input" [ngClass]="{'reservation-code': isOriginDestination, 'error': validation && (codeBookingBooking.errors?.required || codeBookingBooking.errors?.pattern)}">
      <label>Código de reserva</label>
      <a href="#">¿Qué es?</a>
      <div class="input-group">
        <input
          type="text"
          id="codeBookingReservation"
          name="codeBookingBooking"
          class="form-control"
          placeholder="Ej. XG6LM3"
          pattern="[A-Za-z0-9]{6}"
          [(ngModel)]="codeBooking"
          #codeBookingBooking="ngModel"
          required>
      </div>
      <div class="popover popover--error" *ngIf="validation && codeBookingBooking.errors?.required">
        <div class="popover-content">Debes completar este campo.</div>
      </div>
      <div class="popover popover--error" *ngIf="validation && codeBookingBooking.errors?.pattern">
        <div class="popover-content">Ingrese un codigo de reserva valido.</div>
      </div>
    </div>

    <div class="form-input" *ngIf="isEmail" [ngClass]="{'error': validation && (emailBooking.errors?.required || emailBooking.errors?.pattern)}">
      <label>Email del comprador </label>
      <div class="input-group">
        <input
          type="email"
          id="emailReservation"
          name="emailBooking"
          class="form-control"
          placeholder="email@vueling.com"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          [(ngModel)]="email"
          #emailBooking="ngModel"
          required>
      </div>
      <div class="popover popover--error" *ngIf="validation && emailBooking.errors?.required">
        <div class="popover-content">Debes completar este campo.</div>
      </div>
      <div class="popover popover--error" *ngIf="validation && emailBooking.errors?.pattern">
        <div class="popover-content">Los datos introducidos no son correctos.</div>
      </div>
    </div>
    <div class="form-input" *ngIf="isOriginDestination" [ngClass]="{'focused': isFocusedStation, 'error': validation && stationBooking.errors?.required}">
      <label>Aeropuerto origen/destino</label>
      <div class="input-group">
        <input
          type="text"
          id="airportReservation"
          name="stationBooking"
          (click)="showStation()"
          class="form-control"
          placeholder="Ciudad"
          [(ngModel)]="station"
          #stationBooking="ngModel"
          required>
      </div>
      <div class="popover popover--error" *ngIf="validation && stationBooking.errors?.required">
        <div class="popover-content">Debes completar este campo.</div>
      </div>
      <div id="origin-sugestion-popup" class="searchbar-popup cities-sugestion-popup" [ngClass]="{'show': isShowStation}" (click)="showStation()">
        <div app-places
          [label]="'allAirports'"
          [data]="selectorService.listStations$"
          (selectedEvent)="stationSelected($event)">
        </div>
      </div>
    </div>
    <div class="form-input dates" *ngIf="isOriginDestination" [ngClass]="{'focused': isFocusedCalendar, 'error': validation && datePickerBooking.datePicker.errors?.required}">
      <div app-date-picker
        #datePickerBooking
        class="col col-md-6"
        [label]="'Fecha del primer vuelo'"
        [inputId]="'inputDatePickerReservation'"
        [date]="flightTomorrow"
        [validation]="validation"
        [type]="YourBooking"
        (click)="showCalendar()"
        (selectedDate)="selectedDate($event)">
      </div>
      <div class="col col-md-6">
        <div class="form-checkbox--button" (click)="myFlightTomorrow()">
          <label>
            <input class="js-multiple-destinations" type="checkbox" hidden>
            <span>Mi vuelo es mañana</span>
        </label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-action">
    <button type="submit" class="mv_button color-darkGrey size-md icon icon-right">Acceder</button>
  </div>
</form>
