<p class="cities-sugestion-popup_title">
  {{label | dictionary}}
  <span class="erase-label" *ngIf="showErase"
    (click)="deleteRecentStations()">{{'erase' | dictionary}}</span>
</p>
<ul class="cities-sugestion-popup_list">
  <li *ngFor="let station of data | async"
    (click)="stationSelected(station)"
    [ngClass]="{'connection-flight':station?.connection}">
    <p class="list-item">{{station?.name}}</p>
    <p class="list-item">{{station?.countryName}}</p>
    <p class="list-item">{{station?.code}}</p>
    <p class="list-item" *ngIf="station.icon">
      <span app-icon class="icon {{station.icon.Class}}"
        [icon]="station.icon"></span>
    </p>
  </li>
</ul>