<div id="form-group--{{label}}" class="form-input">
    <label for="usr">{{label}}</label>
    <div class="input-group">
      <input type="text" id="{{label}}-input" class="form-control js-searchbar-input" placeholder="Ciudad, país o aeropuerto">
    </div>
    <div id="{{label}}-sugestion-popup" class="searchbar-popup cities-sugestion-popup">

      <app-recent-search></app-recent-search>

      <p class="cities-sugestion-popup_title">Todos los aeropuertos</p>
      <!-- <ul class="cities-sugestion-popup_list">
        <li>
          <p class="list-item">Barcelona</p>
          <p class="list-item">España</p>
          <p class="list-item">BCN</p>
        </li>
      </ul> -->

      <ul class="cities-sugestion-popup_list">
          <li *ngFor="let info of stationOrigin | async">
            <p class="list-item">{{info.name}}</p>
            <p class="list-item">Default</p>
            <p class="list-item">{{info.code}}</p>
          </li>
      </ul>

    </div>
  </div>
