// Create a transition
//
// $args... - The arguments for the transition.
//
// Compatibility untested.

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
