/****************************************************

VARIABLES SEARCH

****************************************************/


/** Colors *****************************************/

$label-color                  : $color-gray-60;
$input-text-color             : $color-gray-80;
$input-placeholder-color      : $color-gray-40;

/** font-size *****************************************/


/** General *****************************************/
