<div id="form-group--origin" [ngClass]="{'focused':_stationsSelectorService.originPopup}">
    <label for="origin-input">Origen</label>
    <div class="input-group" (click)="clearInputOrigin()">
      <span class="prefix" *ngIf="dataFlight.origin.code">{{dataFlight.origin.code}}</span>
      <input type="text" id="origin-input"
        [(ngModel)]="dataFlight.origin.name"
        (keyup)="_stationsSelectorService.filterOrigins(originInput.value);"
        #originInput
        name="origin"
        class="form-control js-searchbar-input"
        placeholder="Ciudad, país o aeropuerto" required>
    </div>
  
    <div class="popover popover--error" *ngIf="false">
      <div class="popover-content">Before continiung, you must select your origin.</div>
    </div>
  
    <div id="origin-sugestion-popup" class="searchbar-popup cities-sugestion-popup" [ngClass]="{'show':_stationsSelectorService.originPopup}">
      <p class="cities-sugestion-popup_title" *ngIf="_stationsSelectorService.filterOriginsByRecent(true).length > 0">
        Búsquedas recientes
        <span class="erase-label" (click)="_stationsSelectorService.deleteOrigins()">Borrar</span>
      </p>
      <ul class="cities-sugestion-popup_list">
        <li *ngFor="let origin of _stationsSelectorService.filterOriginsByRecent(true)" (click)="originSelected(origin)">
          <p class="list-item">{{origin?.name}}</p>
          <p class="list-item">{{origin?.countryName}}</p>
          <p class="list-item">{{origin?.code}}</p>
          <p class="list-item"><span class="icon icon-arrow-list"></span></p>
        </li>
      </ul>
  
      <p class="cities-sugestion-popup_title">Todos los aeropuertos</p>
      <ul class="cities-sugestion-popup_list">
        <li *ngFor="let origin of _stationsSelectorService.filterOriginsByRecent(false)" (click)="originSelected(origin)">
          <p class="list-item">{{origin?.name}}</p>
          <p class="list-item">{{origin?.countryName}}</p>
          <p class="list-item">{{origin?.code}}</p>
        </li>
      </ul>
    </div>
  </div>