<div class="form-group form-group--flight-search">
  <div app-origin-selector id="form-group--origin" class="form-input origin" [dataFlight]="dataFlight.origin"
    (selectedOrigin)="destination.loadDestinations()"
    (isFocused)="isFocusedOrigin=$event" [ngClass]="{'focused':isFocusedOrigin}" #origin></div>

  <div app-destination-selector
      id="form-group--destination"
      class="form-input destination"
      #destination
      [ngClass]="{'focused':isFocusedDestination}"
      [dataFlight]="dataFlight"
      (outStation)="prueba.setPrueba($event)"
      (isFocused)="isFocusedDestination=$event"
      (clickDestination)="origin.showPopupOrigin($event)">
</div>

  <div app-calendar id="form-group--dates" class="form-input dates"></div>

  <div app-passenger id="form-group--passengers" class="form-input passengers"></div>
</div>

<div class="form-action">
  <button class="mv_button color-darkGrey size-md icon icon-right" (click)="onSubmit()">{{'search' | dictionary}}</button>
</div>
