<form autocomplete="off" #searchFlight="ngForm" class="pane-wrapper" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-group form-group--flight-search">
    <app-origin-selector class="form-input origin" [dataFlight]="dataFlight.origin"
      (selectedOrigin)="destination.loadDestinations()"
      (isFocused)="isFocusedOrigin=$event" [ngClass]="{'focused':isFocusedOrigin}" #origin></app-origin-selector>

    <app-destination-selector class="form-input destination" [dataFlight]="dataFlight"
      (clickDestination)="origin.showPopupOrigin($event)" #destination
      (isFocused)="isFocusedDestination=$event" [ngClass]="{'focused':isFocusedDestination}"></app-destination-selector>

    <app-calendar class="form-input dates"></app-calendar>
    <div id="form-group--passengers" class="form-input passengers" app-passenger></div>
  </div>

  <div class="form-action">
    <button [disabled]="searchFlight.invalid" class="mv_button color-darkGrey size-md icon icon-right">Buscar</button>
  </div>
</form>
