<div class="passengers-popup_main_description">
  <p class="title">{{typePassenger?.label | dictionary}}</p>
  <label class="label" *ngIf="!isExtraSeat()">{{typePassenger?.ruleAge | dictionary}}</label>
  <label class="label" *ngIf="isExtraSeat()"><a href="">{{typePassenger?.ruleAge | dictionary}}</a></label>
</div>
<div app-minus-plus class="passengers-popup_main_counter"
  (changeValue)="changeValue($event)"
  (changeOtherValue)="changeOtherValue($event)"
  [data]="typePassenger?.data" >
</div>
