<label (click)="togglePassengers()">
  {{passengers?.Adults}} {{getLabelAdults() | dictionary | lowercase}},
  {{passengers?.Children}} {{getLabelChildren() | dictionary | lowercase}},
  {{passengers?.Infants}} {{getLabelInfants() | dictionary | lowercase}}
</label>
<div class="input-group" (click)="togglePassengers()">
  <input type="text" class="form-control"
    id="passengers-input"
    placeholder="{{passengers?.TotalPassengers}} {{getLabelPassengers() | dictionary}}"
    readonly="readonly">
  <span class="icon icon-arrow-down"></span>
</div>

<div id="passengers-popup" class="searchbar-popup passengers-popup" [ngClass]="{'show-table':isShowPassengers, 'discount': (isResident || isLargeFamily)}">
  <ul class="passengers-popup_main">
    <li app-type-passenger
      *ngFor="let typePassenger of passengerService.typePassengerList$ | async"
      [typePassenger]="typePassenger"
      [passengers]="passengers"
      (changePassenger)="changePassenger($event)">
    </li>
  </ul>

  <ul app-discount *ngIf ="isResident || isLargeFamily"
    class="passengers-popup_main discount"
    [typeDiscountSelected]="discount.value"
    [isResident]="isResident"
    [isLargeFamily]="isLargeFamily"
    (eventToggleDiscountList)="toggleDiscountList($event)" >
  </ul>

  <ul app-discount-list class="passengers-popup_main discount-list"
    #discountList
    *ngIf="isResident || isLargeFamily"
    [ngClass]="{'active':isShowDiscountList}"
    [typeDiscountList]="discountService.typeDiscountList$"
    (eventToggleDiscountList)="toggleDiscountList($event)" >
  </ul>
</div>
