<label (click)="togglePassengers()">
  {{passengers?.adults}} {{'adults' | dictionary}},
  {{passengers?.children}} {{'children' | dictionary}},
  {{passengers?.infants}} {{'infants' | dictionary}}
</label>
<div class="input-group" (click)="togglePassengers()">
  <input type="text" class="form-control"
    id="passengers-input"
    placeholder="{{passengers?.totalPassengers}} {{getLabelPassengers() | dictionary}}"
    [ngModel]="passengers.totalPassengers"
    readonly="readonly">
  <span class="icon icon-arrow-down"></span>
</div>

<div id="passengers-popup" class="searchbar-popup passengers-popup" [ngClass]="{'show-table':isShowPassengers, 'discount': (isResident || isLargeFamily)}">
  <ul class="passengers-popup_main">
    <li app-type-passenger
      *ngFor="let typePassenger of passengerService.typePassengerList$ | async"
      [typePassenger]="typePassenger"
      [passengers]="passengers"
      (changePassenger)="changePassenger($event)">
    </li>
  </ul>

  <ul app-discount *ngIf ="isResident || isLargeFamily"
    class="passengers-popup_main discount"
    (click)="toggleDiscountList()"
    [typeDiscountSelected]="discountPassengers"
    [selected]="discountPassengersSelected"
    [isResident]="isResident"
    [isLargeFamily]="isLargeFamily" >
  </ul>

  <ul app-discount-list *ngIf ="isResident || isLargeFamily" class="passengers-popup_main discount-list"
    [ngClass]="{'active':isShowDiscountList}"
    (eventToggleDiscountList)="toggleDiscountList($event)"
    [discountListPassengers]="discountListPassenger"
    [isResident]="isResident"
    [isLargeFamily]="isLargeFamily" >
  </ul>
</div>
