<div class="searcbar-datepicker_title">
  <p class="title">
    <span class="icon icon-plane-right"></span> Selecciona día {{typeDatePicker}}
  </p>
  <ul class="options">
    <li>
      <input
        id="roundTrip-{{typeDatePicker}}"
        type="radio"
        name="flight-option"
        value="ida-vuelta"
      >
      <label for="roundTrip">Ida y vuelta</label>
    </li>

    <li>
      <input
        id="oneWay-{{typeDatePicker}}"
        type="radio"
        name="flight-option"
        value="ida"
        checked
      >
      <label for="oneWay">Solo ida</label>
    </li>
  </ul>
</div>

<div id="{{typeDatePicker}}"></div>

<div class="searcbar-datepicker_legend">
  <p class="legend-item">Hoy</p>
  <p class="legend-item selection">Tu selección</p>
</div>
