<label class="form-input_label">{{label | dictionary}}</label>
<div class="input-group">
  <input
    id="{{inputId}}"
    name="datePicker"
    type="text"
    class="form-control"
    placeholder="{{format | uppercase}}"
    [ngModel]="currentDate | date:format"
    #datePicker="ngModel"
    readonly required>
  <span class="icon icon-calendar"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
</div>
<div class="popover popover--error" *ngIf="validation && datePicker.errors?.required">
  <div class="popover-content">{{'Debes completar este campo.' | dictionary}}</div>
</div>
