<div id="form-group--{{type}}" [ngClass]="{'focused':focusIn}">
  <label for="usr">{{label}}</label>
  <div class="input-group">
      <ng-container *ngIf="station?.code"><span class="prefix">{{station?.code}}</span></ng-container>

      <input
        (focus)="prueba1()"
        (focusout)="prueba2()"
        type="text"
        id="{{type}}-input"
        class="form-control js-searchbar-input"
        placeholder="Ciudad, país o aeropuerto"
        [value]="station?.name"
      >
  </div>

  <div
    id="{{type}}-sugestion-popup"
    class="searchbar-popup cities-sugestion-popup"
    [ngStyle]="{'display':focusIn === true ? 'block' : 'none'}"
  >

  <app-places [places]="stationRecent$" *ngIf="stationRecent$" (placeSelected)="prueba3($event)"></app-places>
  <app-places [places]="stationOrigin$" *ngIf="stationOrigin$" (placeSelected)="prueba3($event)"></app-places>
  </div>
</div>
