<div class="searchbar-container">
  <div id="searchbar-overlay" class="searchbar-overlay" [ngClass]="{'show':isOverlay}" (click)="hideOverlay()"></div>
  <div class="searchbar-titles">
    <h3>Tu próximo vuelo</h3>
    <h2>Barcelona-Santorini</h2>
  </div>
  <img class="searchbar-bg-image" src="./assets/images/search/bg2.jpg" alt="">
  <div id="searchbar" class="searchbar-main container" (click)="showOverlay()">
    <ul class="nav nav-tabs searchbar-main_tabs">
      <li class="searchbar-main_tabs_tab searchbar-main_tabs_tab--search" *ngIf="tabStateService.isEnabled('FlightSearch')" [ngClass]="{'active': tabStateService.isActive('FlightSearch')}">
        <div class="tab" data-toggle="tab" href="#home" (click)="tabStateService.activeTab('FlightSearch')">
          <p><span app-icon class="icon {{tabStateService.getTabConfiguration('FlightSearch', 'Icon').Class}}"
            [icon]="tabStateService.getTabConfiguration('FlightSearch', 'Icon')"></span>{{'flights' | dictionary}}
          </p>
          <ul app-list-icon-link [listIconLink]="listIconLink"></ul>
        </div>
      </li>

      <li class="searchbar-main_tabs_tab  searchbar-main_tabs_tab--check-in" *ngIf="tabStateService.isEnabled('Checkin')" [ngClass]="{'active': tabStateService.isActive('Checkin')}">
        <a class="tab" data-toggle="tab" href="#menu1" (click)="tabStateService.activeTab('Checkin')">
          <p><span app-icon class="icon {{tabStateService.getTabConfiguration('Checkin', 'Icon').Class}}"
            [icon]="tabStateService.getTabConfiguration('Checkin', 'Icon')"></span>{{'checkinOnline' | dictionary}}</p>
        </a>
      </li>

      <li class="searchbar-main_tabs_tab searchbar-main_tabs_tab--reservation" *ngIf="tabStateService.isEnabled('YourBooking')" [ngClass]="{'active': tabStateService.isActive('YourBooking')}">
        <a class="tab" data-toggle="tab" href="#menu2" (click)="tabStateService.activeTab('YourBooking')">
          <p><span app-icon class="icon {{tabStateService.getTabConfiguration('YourBooking', 'Icon').Class}}"
            [icon]="tabStateService.getTabConfiguration('YourBooking', 'Icon')"></span>{{'yourBooking' | dictionary}}</p>
        </a>
      </li>

    </ul>
    <div class="tab-content searchbar-main_tab-content">
      <div id="tab-search" class="tab-pane fade searchbar-main_tab-content_pane search" *ngIf="searcherConfig.FlightSearch.IsEnabled" [ngClass]="{'in active': isFlight}">
        <div app-flight (isMulti)="setMulti($event)"></div>
      </div>

      <div id="tab-checkin" class="tab-pane searchbar-main_tab-content_pane check-in" *ngIf="tabStateService.isEnabled('Checkin')" [ngClass]="{'in active': tabStateService.isActive('Checkin')}">
        <div app-check-in class="pane-wrapper"></div>
      </div>

      <div id="tab-reservation" class="tab-pane searchbar-main_tab-content_pane reservation" *ngIf="tabStateService.isEnabled('YourBooking')" [ngClass]="{'in active': tabStateService.isActive('YourBooking')}">
        <div app-reservation class="pane-wrapper"></div>
      </div>

      <div app-content-calendar class="searchbar-datepicker" [ngClass]="{'show': calendarService.isShowDatePicker}">
        <div app-calendar-options class="searcbar-datepicker_title" grayBar *ngIf="showCalendarOptionsBar()"></div>
        <div id="vyCalendar" tabindex="0" calendar></div>
      </div>
    </div>
  </div>
</div>


