<div style="padding-top:60px">
  <div class="searchbar-container">
    <div class="searchbar-titles">
      <h3>Tu próximo vuelo</h3>
      <h2>Barcelona-Santorini</h2>
    </div>
    <img class="searchbar-bg-image" src="./assets/images/bg2.jpg" alt="">
    <div class="searchbar-main">
      <ul class="nav nav-tabs searchbar-main_tabs">
        <li class="active searchbar-main_tabs_tab searchbar-main_tabs_tab--search">
          <div class="tab" data-toggle="tab" href="#home">
            <p><span class="icon-plane"></span>Vuelos</p>
            <ul>
              <li><span class="icon-building"></span><a>Hoteles</a></li>
              <li><span class="icon-car"></span><a>Coches</a></li>
            </ul>
          </div>
        </li>
        <li class="searchbar-main_tabs_tab searchbar-main_tabs_tab--check-in">
          <a class="tab" data-toggle="tab" href="#menu1">
            <p><span class="icon-computer"></span>Check-in online</p>
          </a>
        </li>
        <li class="searchbar-main_tabs_tab searchbar-main_tabs_tab--reservation">
          <a class="tab" data-toggle="tab" href="#menu2">
            <p><span class="icon-settings"></span>Tu reserva</p>
          </a>
        </li>
      </ul>
      <div class="tab-content searchbar-main_tab-content">
        <div id="home" class="tab-pane fade in active searchbar-main_tab-content_pane search">
          <app-flight></app-flight>
        </div>
        <div id="menu1" class="tab-pane fade searchbar-main_tab-content_pane check-in">
          <h3 class="title">Check-in online</h3>
          <app-check-in [type]="'check-in'"></app-check-in>
        </div>
        <div id="menu2" class="tab-pane fade searchbar-main_tab-content_pane reservation">
          <h3 class="title">Tu reserva</h3>
          <app-check-in [type]="'reservation'"></app-check-in>
        </div>
      </div>
    </div>
  </div>
