<div class="searchbar-container">
  <div id="searchbar-overlay" class="searchbar-overlay" [ngClass]="{'show':isOverlay}" (click)="hideOverlay()"></div>
  <div class="searchbar-titles">
    <h3>Tu próximo vuelo</h3>
    <h2>Barcelona-Santorini</h2>
  </div>
  <img class="searchbar-bg-image" src="./assets/images/search/bg2.jpg" alt="">
  <div id="searchbar" class="searchbar-main container" (click)="showOverlay()">
    <ul class="nav nav-tabs searchbar-main_tabs">
      <li class="searchbar-main_tabs_tab searchbar-main_tabs_tab--search" *ngIf="searcherConfig.FlightSearch.IsEnabled" [ngClass]="{'active': isFlight}">
        <div class="tab" data-toggle="tab" href="#home" (click)="setTagFlight()">
          <p><span app-icon class="icon {{searcherConfig.FlightSearch.Icon.Class}}"
            [icon]="searcherConfig.FlightSearch.Icon"></span>{{'flights' | dictionary}}
          </p>
          <ul app-list-icon-link [listIconLink]="listIconLink"></ul>
        </div>
      </li>

      <li class="searchbar-main_tabs_tab  searchbar-main_tabs_tab--check-in" *ngIf="searcherConfig.Checkin.IsEnabled" [ngClass]="{'active': ischeckIn}">
        <a class="tab" data-toggle="tab" href="#menu1" (click)="setTagCheckin()">
          <p><span app-icon class="icon {{searcherConfig.Checkin.Icon.Class}}"
            [icon]="searcherConfig.Checkin.Icon"></span>{{'checkinOnline' | dictionary}}</p>
        </a>
      </li>

      <li class="searchbar-main_tabs_tab searchbar-main_tabs_tab--reservation" *ngIf="searcherConfig.YourBooking.IsEnabled" [ngClass]="{'active': isReservation}">
        <a class="tab" data-toggle="tab" href="#menu2" (click)="setTagBooking()">
          <p><span app-icon class="icon {{searcherConfig.YourBooking.Icon.Class}}"
            [icon]="searcherConfig.YourBooking.Icon"></span>{{'yourBooking' | dictionary}}</p>
        </a>
      </li>

    </ul>
    <div class="tab-content searchbar-main_tab-content">
      <div id="tab-search" class="tab-pane fade searchbar-main_tab-content_pane search" *ngIf="searcherConfig.FlightSearch.IsEnabled" [ngClass]="{'in active': isFlight}">
        <form app-flight autocomplete="off" class="pane-wrapper" novalidate></form>
      </div>

      <div id="tab-checkin" class="tab-pane searchbar-main_tab-content_pane check-in" *ngIf="searcherConfig.Checkin.IsEnabled" [ngClass]="{'in active': ischeckIn}">
        <div app-check-in class="pane-wrapper"></div>
      </div>

      <div id="tab-reservation" class="tab-pane searchbar-main_tab-content_pane reservation" *ngIf="searcherConfig.YourBooking.IsEnabled" [ngClass]="{'in active': isReservation}">
        <div app-reservation class="pane-wrapper"></div>
      </div>

      <div app-content-calendar class="searchbar-datepicker" [ngClass]="{'show': calendarService.isShowDatePicker}">
        <div app-calendar-options class="searcbar-datepicker_title" grayBar *ngIf="!ischeckIn"></div>
        <div id="vyCalendar" tabindex="0" calendar></div>
        <div class="searcbar-datepicker_legend" legend *ngIf="!ischeckIn">
          <p class="legend-item">Hoy</p>
          <p class="legend-item selection">Tu selección</p>
        </div>
      </div>
    </div>
  </div>
</div>


