<div class="searchbar-container">
  <div id="searchbar-overlay" class="searchbar-overlay" [ngClass]="{'show':showOverlay}" (click)="toggleClassOverlay()"></div>
  <div class="searchbar-titles">
    <h3>Tu próximo vuelo</h3>
    <h2>Barcelona-Santorini</h2>
  </div>
  <img class="searchbar-bg-image" src="./assets/images/search/bg2.jpg" alt="">
  <div id="searchbar" class="searchbar-main container">
    <ul class="nav nav-tabs searchbar-main_tabs">

      <li class="searchbar-main_tabs_tab searchbar-main_tabs_tab--search" [ngClass]="{'active': isFlight}">
        <div class="tab" data-toggle="tab" href="#home" (click)="stateTag(true, false, false)">
          <p><span class="icon icon-plane"></span>Vuelos</p>
          <ul>
            <li><span class="icon icon-building"></span><a href="http://hotel.vueling.com/?label=vlng-tab-home&lang=en">Hoteles</a></li>
            <li><span class="icon icon-car"></span><a href="http://cars.vueling.com/en/#searchcars">Coches</a></li>
          </ul>
        </div>
      </li>

      <li class="searchbar-main_tabs_tab  searchbar-main_tabs_tab--check-in" [ngClass]="{'active': ischeckIn}">
        <a class="tab" data-toggle="tab" href="#menu1" (click)="stateTag(false, true, false)">
          <p><span class="icon icon-computer"></span>Check-in online</p>
        </a>
      </li>

      <li class="searchbar-main_tabs_tab searchbar-main_tabs_tab--reservation"  [ngClass]="{'active': isReservation}">
        <a class="tab" data-toggle="tab" href="#menu2" (click)="stateTag(false, false, true)">
          <p><span class="icon icon-settings"></span>Tu reserva</p>
        </a>
      </li>

    </ul>
    <div class="tab-content searchbar-main_tab-content">
      <div id="home" class="tab-pane fade searchbar-main_tab-content_pane search"  [ngClass]="{'in active': isFlight}">
        <app-flight (stateOverlay)="toggleClassOverlay()"></app-flight>
      </div>

      <div id="menu1" class="tab-pane fade searchbar-main_tab-content_pane check-in" [ngClass]="{'in active': ischeckIn}">
        <h3 class="title">Check-in online</h3>
        <app-check-in [type]="'check-in'"></app-check-in>
      </div>

      <div id="menu2" class="tab-pane fade searchbar-main_tab-content_pane reservation" [ngClass]="{'in active': isReservation}">
        <h3 class="title">Tu reserva</h3>
        <app-check-in [type]="'reservation'"></app-check-in>
      </div>
    </div>
  </div>
</div>
